<tr>
  <td data-label="Nome">{{ employee.name }}</td>
  <td data-label="Cargo">{{ employee.role }}</td>
  <td data-label="Ações">
    <div class="actions">
      <a href="{% url 'employee:edit' employee.id %}" class="edit" title="Editar">
        <i class="fas fa-edit"></i>
      </a>
      <a href="" class="view" title="Ver mais">
        <i class="fas fa-eye"></i>
      </a>
      <a href="{% url 'employee:delete' employee.id %}" class="delete" title="Excluir">
        <i class="fas fa-trash"></i>
      </a>
    </div>
  </td>
</tr>