{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  {% include "partials/head.html" %}
<body>
  {% include "partials/header.html" %}

  <main>
    <div class="page-list">
      <div class="list-header">
        <div class="search-bar">
          <i class="fas fa-search search-icon"></i>
          <input type="text" placeholder="" />
        </div>
          <div class="action-buttons">
            <a href="{% url "company:register_company" %}">
              <i class="fas fa-plus"></i> Empresa
            </a>
            <a href="{% url "employee:list_departments" %}">
              <i class="fas fa-eye"></i> Departamento
            </a>
            <a href="{% url "employee:role_list" %}">
              <i class="fas fa-eye"></i> Função
            </a>
            <a href="{% url "employee:register_employee" %}">
              <i class="fas fa-plus"></i> Funcionário
            </a>
            <a href="{% url "user:register" %}">
              <i class="fas fa-plus"></i> Usuário
            </a>
            <a href="{% url "trainings_type_view" %}">
              <i class="fas fa-eye"></i> Treinamentos
            </a>
          </div>
      </div>

      <!-- Tabela de empresas -->
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>Nome</th>
              <th>CNPJ</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            {% for company in companies %}
              {% include "partials/company_table.html" with company=company %}
            {% empty %}
              <tr>
                <td colspan="4" style="text-align:center; padding:2rem; color:var(--gray);">
                  Nenhuma empresa cadastrada.
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </main>

  {% include "partials/footer.html" %}
</body>
</html>